<html ng-app="myApp">
<head>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-sanitize.js"></script>

    <script src="js-css/myApp.js"></script>
    <link rel="stylesheet" type="text/css" href="js-css/style.css" />
</head>
<body ng-controller="MyCtrl">

	<h3>ТПР Лаба 2</h3>

	<label>Rows: <input type="number" ng-model="rows" ng-change="changeParams()" /></label><br/>
	<label>Columns: <input type="number" ng-model="columns" ng-change="changeParams()" /></label>

	<table border="1" cellspacing="0">
		<tr ng-repeat="row in table">
			<td ng-repeat="c in row">
                <span ng-show="c.title" ng-bind="c.val"></span>
                <input type="text" size="5" ng-hide="c.title" ng-model="c.val" ng-change="changeTable()" />
			</td>
		</tr>
	</table>

    <table>
        <tr ng-repeat="s in sums track by $index">
            <td>{{s}}</td>
        </tr>
    </table>

</body>
</html>