<html ng-app="myApp" ng-controller="MyCtrl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<script src="lib/angular.js"></script>
	<script src="lib/angular-sanitize.js"></script>

    <script src="js-css/myApp.js"></script>
    <link rel="stylesheet" type="text/css" href="js-css/style.css" />

    <title>{{title}}</title>
</head>
<body>

	<h1>{{title}}</h1>

    <div id="labels">
        <p>
            <label for="rows">Кол-во стратегий решения: </label>
            <input id="rows" type="number" ng-model="rows" ng-change="changeParams()" />
        </p>
        <p>
            <label for="columns">Кол-во состояний природы: </label>
            <input id="columns" type="number" ng-model="columns" ng-change="changeParams()" />
        </p>
        <p>
            <label>Вероятность (события равновероятны): </label>{{p}}
        </p>
    </div>

    <div id="table">
        <table border="1" cellspacing="0">
            <tr ng-repeat="row in table">
                <td ng-repeat="c in row">
                    <span ng-show="c.title" ng-bind="c.val"></span>
                    <input type="text" size="5" ng-hide="c.title" ng-model="c.val" ng-change="changeTable()" />
                </td>
            </tr>
        </table>
    </div>

    <h2>Результаты</h2>

    <div id="result">
        <table>
            <tr ng-repeat="s in sums track by $index">
                <td>{{$index+1}}. {{s}}</td>
            </tr>
        </table>
    </div>

</body>
</html>