div.content {
    margin-left: 20px;
}

#labels input[type=number] {
    width: 50px;
    height: 30px;
}

div.my-table table {
    width: auto;
}

div.my-table td {
    text-align: center;
    vertical-align: middle;
}

input.min-size {
    width: 80px;
    height: 30px;
    text-align: center;
}

/* without Bootstrap */
.success {
    background-color: #d0e9c6;
}

table.table-bordered {
    border-collapse: collapse;
}

table.table-bordered td {
    border: 1px solid #d2d2d2;
    padding: 8px;
}